/* FullCalendar*/
.fc table {
  font-size: 11px !important;
}
.panel .fc-header {
  margin-bottom: 24px;
}
.panel .fc-header h2 {
  line-height: 1.25;
  color: #455a64;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Open Sans', 'Droid Sans', Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-weight: 300;
  margin: 0;
}
.panel .fc-header h2 small,
.panel .fc-header h2 .small {
  font-weight: normal;
  line-height: 1;
  color: #90a4ae;
}
.panel .fc-header h2 small,
.panel .fc-header h2 .small {
  font-size: 65%;
}
@media (max-width: 480px) {
  .panel .fc-header h2 {
    line-height: 1.25;
    color: #455a64;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Open Sans', 'Droid Sans', Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-weight: 400;
  }
  .panel .fc-header h2 small,
  .panel .fc-header h2 .small {
    font-weight: normal;
    line-height: 1;
    color: #90a4ae;
  }
  .panel .fc-header h2 small,
  .panel .fc-header h2 .small {
    font-size: 75%;
  }
}
.panel .fc-header .fc-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.54;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  color: #455a64;
  background-color: #fafafa;
  border-color: #e0e0e0;
  padding: 4px 12px;
  font-size: 11px;
  border-radius: 1px;
  padding: 3px 8px;
  line-height: 1.5;
  border-radius: 0;
}
.panel .fc-header .fc-button:focus,
.panel .fc-header .fc-button:active:focus,
.panel .fc-header .fc-button.active:focus,
.panel .fc-header .fc-button.focus,
.panel .fc-header .fc-button:active.focus,
.panel .fc-header .fc-button.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.panel .fc-header .fc-button:hover,
.panel .fc-header .fc-button:focus,
.panel .fc-header .fc-button.focus {
  color: #455a64;
  text-decoration: none;
}
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.panel .fc-header .fc-button.disabled,
.panel .fc-header .fc-button[disabled],
fieldset[disabled] .panel .fc-header .fc-button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
}
.panel .fc-header .fc-button.disabled,
.panel .fc-header .fc-button[disabled],
fieldset[disabled] .panel .fc-header .fc-button {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.panel .fc-header .fc-button:hover,
.panel .fc-header .fc-button:focus,
.panel .fc-header .fc-button.focus,
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active,
.open > .dropdown-toggle.panel .fc-header .fc-button {
  color: #455a64;
  background-color: #e1e1e1;
  border-color: #c1c1c1;
}
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active,
.open > .dropdown-toggle.panel .fc-header .fc-button {
  background-image: none;
}
.panel .fc-header .fc-button.disabled,
.panel .fc-header .fc-button[disabled],
fieldset[disabled] .panel .fc-header .fc-button,
.panel .fc-header .fc-button.disabled:hover,
.panel .fc-header .fc-button[disabled]:hover,
fieldset[disabled] .panel .fc-header .fc-button:hover,
.panel .fc-header .fc-button.disabled:focus,
.panel .fc-header .fc-button[disabled]:focus,
fieldset[disabled] .panel .fc-header .fc-button:focus,
.panel .fc-header .fc-button.disabled.focus,
.panel .fc-header .fc-button[disabled].focus,
fieldset[disabled] .panel .fc-header .fc-button.focus,
.panel .fc-header .fc-button.disabled:active,
.panel .fc-header .fc-button[disabled]:active,
fieldset[disabled] .panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.disabled.active,
.panel .fc-header .fc-button[disabled].active,
fieldset[disabled] .panel .fc-header .fc-button.active {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.panel .fc-header .fc-button .badge {
  color: #fafafa;
  background-color: #455a64;
}
.panel .fc-header .fc-button:hover {
  background-color: #ededed;
  border-color: #cccccc;
}
.panel .fc-header .fc-button:focus,
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active,
.open > .dropdown-toggle.panel .fc-header .fc-button {
  color: #455a64;
  background-color: #e6e6e6;
  border-color: #c7c7c7;
}
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active,
.open > .dropdown-toggle.panel .fc-header .fc-button {
  background-image: none;
}
.panel .fc-header .fc-button.disabled,
.panel .fc-header .fc-button[disabled],
fieldset[disabled] .panel .fc-header .fc-button,
.panel .fc-header .fc-button.disabled:hover,
.panel .fc-header .fc-button[disabled]:hover,
fieldset[disabled] .panel .fc-header .fc-button:hover,
.panel .fc-header .fc-button.disabled:focus,
.panel .fc-header .fc-button[disabled]:focus,
fieldset[disabled] .panel .fc-header .fc-button:focus,
.panel .fc-header .fc-button.disabled:active,
.panel .fc-header .fc-button[disabled]:active,
fieldset[disabled] .panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.disabled.active,
.panel .fc-header .fc-button[disabled].active,
fieldset[disabled] .panel .fc-header .fc-button.active {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.panel .fc-header .fc-button .badge {
  color: #fafafa;
  background-color: #455a64;
}
.panel .fc-header .fc-button:active,
.panel .fc-header .fc-button.active,
.panel .fc-header .fc-button.fc-state-active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  background-color: #e1e1e1;
  border-color: #c1c1c1;
  color: #455a64;
  background-color: #e6e6e6;
  border-color: #c7c7c7;
  background-image: none;
}
.panel .fc-header .fc-button:active:focus,
.panel .fc-header .fc-button.active:focus,
.panel .fc-header .fc-button.fc-state-active:focus,
.panel .fc-header .fc-button:active.focus,
.panel .fc-header .fc-button.active.focus,
.panel .fc-header .fc-button.fc-state-active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.panel .fc-header .fc-corner-left {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.panel .fc-header .fc-corner-right {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.panel .fc-content table.fc-agenda-allday {
  border-radius: 0;
}
.panel .fc-content table {
  border-radius: 2px;
}
.panel .fc-content table .fc-widget-content {
  border: 1px solid #eeeeee;
}
.panel .fc-content table thead th {
  border-top: 0 !important;
  font-size: 11px;
  font-weight: 400;
  background: #fafafa;
}
.panel .fc-content table tbody > tr > td {
  background-color: #fff;
  border: 1px solid #eeeeee;
}
.panel .fc-content table tbody > tr > td:first-child {
  border-left: 0;
}
.panel .fc-content table tbody > tr > th:first-child {
  border-left: 0;
  border-bottom: 0;
}
.panel .fc-content table tbody > tr > th:last-child {
  border-right: 0;
  border-bottom: 0;
}
.panel .fc-content table .fc-week .fc-day .fc-day-number {
  color: #6b8a99;
}
.panel .fc-content table .fc-day.fc-other-month.fc-future {
  background: #f5f5f5;
}
.panel .fc-content table .fc-day.fc-other-month.fc-future .fc-day-number {
  color: #6b8a99 !important;
}
.panel .fc-event {
  font-size: 11px;
  line-height: 16px;
  padding: 0;
  border-radius: 1px;
}
.panel .fc-event .fc-event-inner {
  padding: 0 3px;
  background: rgba(255, 255, 255, 0.25);
  margin-left: 0;
  margin-bottom: 0;
}
.panel .fc-event .fc-event-inner .fc-event-time {
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-weight: 400;
  text-transform: uppercase;
}
.panel .fc-event .fc-event-inner .fc-event-title {
  padding: 0 2px;
}
.panel #external-events .external-event.label {
  letter-spacing: normal;
  text-transform: none;
  font-size: 11px;
  padding: 0 3px;
  line-height: 16px;
  margin-bottom: 2px;
}