@media print {

	/*html {
		height: auto !important;
    	overflow: visible !important;
    	width: 210mm;
        height: 297mm;        
	}*/
	/*html, body {
		width: 210mm;
        height: 297mm;        
	}*/
	.jumbotron, 
	.blog-header, #menu, 
	.sidebar-module, footer, 
	#respuestas, #formm,
	.btn, button, #form-resp,
  .blog-post-title, #coordInv{
		display: none;
	}
*,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border: 0;
    border-left: 5px solid #eee;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3,h4 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3, h4 {
    page-break-after: avoid;
  }

  h4 {
  	font-weight: bolder;
  }
  .printHeader {
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 60px;
  }
  .printFooter {
    display: block;
    position: fixed;
    bottom: 0;
  }
}

@page {
	size: Letter;
	margin: 23mm 21mm 21mm 21mm ;
}