.top-ticket-detail{
	border-bottom: 1px solid #DEDFE0; 
	margin: 1px
}

.top-ticket-detail .top-info{
	border-left: 1px solid #DEDFE0;
	margin-bottom: 10px
}

.info-ticket, .info-solicitante {
	margin: 10px;
	border-bottom: 1px solid #DEDFE0; 
}

.contacto-solicitante, .departamento-solicitante {
	border-left: 1px solid #DEDFE0;	
}

.hilo {
	border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: 5px;
}
.no-border{
	border:0;
}
.prioridad{
	padding: 5px;
	color: white;
	border-radius: 5px
}

.mensaje{
	padding: 5px;
    border: 1px solid #75acff;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1.blog-title > a {
    color: #282155;
    text-decoration: none;
}

p.blog-post-meta > a {
    text-decoration: none;
    color: #25005a;
}