
.mce-content-body table{width:100%;border-spacing:0;border-collapse:separate;border:1px solid #aaa}
.mce-content-body table tr:nth-child(even){background:#FAFAFA}
.mce-content-body table caption,.mce-content-body table td,.mce-content-body table th{padding:15px 7px;font:inherit}
.mce-content-body table th{font-weight:400;color:#6E6E6E;background-position:100% 100%;background-size:2px 10px;background-repeat:no-repeat}
.mce-content-body table th:last-child{background:0 0}